<div>
	<img src="https://juanafanador07.github.io/_astro/about.B-Qc5q-t_1E1BDp.jpg" />
	<p class="text-center text-xl font-bold">Juan Afanador</p>
	<p class="text-center font-light">Frontend</p>
</div>
